<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
        body{
            background-color: #211e1e;
            color: #f7f7f7;
        }
        .error{
            color: darkred;
        }
        .login{
            position: relative;
            padding-top: 300px;
            padding-right: 50px;
            padding-left: 50px;
        }
        img{
            margin-top: 10%;
            height: 80%;
            width:100%;
            padding: 0;
        }
        button{
            margin-top: 3%;
            margin-left: 40%;
        }
        #username{
            padding-bottom: 2%;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <img src="../static/img/photographynikon.jpg" th:src="@{img/photographynikon.jpg}">
        </div>
        <div class="col-sm-4 col-md-4">
            <form class="form-signin mt-xl-5" method="post" action="/register">
                <h2 class="form-signin-heading">Register</h2>
                <p>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                           autofocus="">
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                           required="">
                </p>
                <p>
                    <label for="repeatedPassword" class="sr-only">Repeat Password</label>
                    <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control"
                           placeholder="Repeat Password" required="">
                </p>
                <p>
                    <label for="name" class="sr-only">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
                </p>
                <p>
                    <label for="surname" class="sr-only">Surname</label>
                    <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
                           autofocus="">
                </p>
                <p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role" type="radio" id="ROLE_USER" value="ROLE_USER">
                    <label class="form-check-label" for="ROLE_USER">ROLE_USER</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="role"  type="radio" id="ROLE_PHOTOGRAPHER" value="ROLE_PHOTOGRAPHER">
                    <label class="form-check-label" for="ROLE_PHOTOGRAPHER">ROLE_PHOTOGRAPHER</label>
                </div>
                </p>
                <p>
                    <label for="linkedin" class="sr-only"></label>
                    <input class="form-control" type="text" id="linkedin" name="linkedin" placeholder="LinkedIn">
                </p>
                <p>
                    <label for="instagram" class="sr-only"></label>
                    <input class="form-control" type="text" id="instagram" name="instagram" placeholder="Instagram">
                </p>
                <p>
                    <label for="facebook" class="sr-only"></label>
                    <input class="form-control" type="text" id="facebook" name="facebook" placeholder="Facebook">
                </p>
                <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
            </form>
            <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
        </div>
    </div>


</div>
</html>